**/.git
**/.gitignore
**/.dockerignore
**/node_modules
**/bin
**/obj
**/dist
**/.turbo
**/.vs
**/.vscode
**/Dockerfile*
**/docker-compose*
**/.env
**/.env.local
**/.env.production
**/README.md
**/LICENSE
**/.DS_Store
**/Thumbs.db
**/*.log